body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: white;
    width: 450px;
    height: 650px;
    border-radius: 1.5em;
    overflow: hidden;

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 15px 20px rgba(114, 128, 167, 0.2);
}

main > img {
    width: 100%;
    height: auto; 
}

.primary-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}

.primary-component .title {
    font-weight: 900;
    margin-top: 10%;
    font-size: 25px;
}

.primary-component .subtitle {
    margin: 0 5%;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.plan-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.8em;
    margin-top: 1.5em;

    box-sizing: border-box; 
    padding: 1.5em 1.5em;
}

.plan-details > .plan-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

#plan-title {
    font-weight: 700;
}

#plan-value {
    color: hsl(224, 23%, 55%);
    margin-top: 5%;
}

.plan-details > a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    flex: 1;
    text-align: right;
}

.plan-details > a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 65%);
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5em;
}

.buttons > button {
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
}

#continue {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 1em;
    padding: 1.2em 0;
    box-shadow: 0px 10px 30px rgba(56, 41, 224, 0.3);
}

#continue:hover {
    background-color: hsl(245, 75%, 65%);
}

#cancel {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    margin-top: 8%;
}

#cancel:hover {
    color: black;
}

.bold-text {
    font-weight: 700;
}

@media screen and (max-width: 400px) { 
    body { 
        background-image: url("../images/pattern-background-mobile.svg")
    } 

    main {
        width: 340px;
        height: 540px;
    }

    main > img {
        max-width: 340px; 
    }

    .primary-component {
        margin: 0 7%;
    }

    .primary-component .title {
        margin-top: 7%;
    }

    .primary-component .subtitle {
        margin: 0 7%;
    }

    .plan-details {
        padding: 1em 1em;
    }

    #cancel {
        margin-top: 4%;
    }
}